*{margin: 0; padding: 0;}

/* -------------------------Background--------------------------------- */

@keyframes animation_background {
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 100%;}
    100%{background-position: 0% 50%;}
}

body{
    background-color: black;
}

.background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(2, 185, 115,0.2),rgb(5, 89, 245,0.2));
    animation: animation_background 4s infinite;
    background-size: 300% 300%;
}

/* -------------------------Container--------------------------------- */

.container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}

/* -------------------------Text Animé--------------------------------- */

@keyframes textApparition{
    0%{stroke-dashoffset: 400;}
    100%{
        stroke-dashoffset: 0;}
}
@keyframes growthAnimation{
    0%{scale: 1;}
    90%{scale: 1.2;}
    100%{scale: 1;}
}

@keyframes growthHover{
    0%{scale: 1;}
    50%{scale: 1.2;}
    100%{scale: 1;}
}


svg path{
    fill: transparent;
    stroke: blueviolet;
    stroke-width: 3;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: textApparition 3s ease-in-out 1 forwards,animation_border 6s infinite,animation_fill 5s 3s ease-in infinite;
    z-index: 100;
}

svg{
    animation: growthAnimation 3s ease-in 1 forwards;
    cursor: pointer;
}

svg:hover{
    animation: growthHover 1s ease-in-out 1 forwards;
    cursor: pointer;
}
/* -------------------------Border Animation--------------------------------- */

@keyframes animation_border {
    0%{stroke: rgb(60, 4, 165)}
    25%{stroke:rgb(112, 154, 216)}
    50%{stroke: rgb(142, 2, 235)}
    75%{stroke: rgb(112, 154, 216)}
    100%{stroke: rgb(60, 4, 165)}
}

@keyframes animation_fill{
    0%{fill:transparent}
    25%{fill:rgb(230, 185, 248)}
    50%{fill:transparent}
    75%{fill:rgb(184, 244, 255)}
    100%{fill:transparent}
}
/*--------------------------------------------Icones-------------------------------------*/

.icones{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.bouton{
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100px;
    border-radius: 50%;
    background-color: transparent;
    animation: animation_icones 6s infinite,growthAnimation 3s ease-in 1 forwards;
    cursor: pointer;
}

.bouton:hover{
    animation: growthHover 1s ease-in-out 1 forwards,animation_icones 6s infinite;
    cursor: pointer;
}
@keyframes animation_icones {
    0%{border-color: rgb(60, 4, 165);
        color: rgb(60, 4, 165)}
    25%{border-color:rgb(112, 154, 216);
        color: rgb(112, 154, 216)}
    50%{border-color: rgb(142, 2, 235);
        color: rgb(142, 2, 235)}
    75%{border-color: rgb(112, 154, 216);
        color: rgb(112, 154, 216)}
    100%{border-color: rgb(60, 4, 165);
        color: rgb(60, 4, 165)}
}